# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env
.env.*
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
*.ipynb~*

# OS
.DS_Store
Thumbs.db

# Models / outputs (optional)
checkpoints/
outputs/
